@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/footer.css");

/* Responsive Styles
-------------------------------------------*/
@media screen and (max-width: 919px) {
  .profile__info {
    margin-right: 17px;
  }

  .profile__add-button {
    width: 150px;
    margin-left: 50px;
    margin-left: auto;
  }

  .profile__title {
    font-size: 32px;
  }

  .footer__copyright {
    font-size: 14px;
    padding-left: 91px;
  }
}

@media screen and (max-width: 620px) {
  .page__content {
    padding: 0;
  }

  .logo {
    padding-left: 20px;
    max-width: 126px;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__info {
    justify-content: center;
    max-width: 282px;
    grid-template-columns: minmax(auto, 196px) 18px;
    grid-gap: 14px 17px;
    margin-right: 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }

  .profile__image {
    align-items: center;
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .profile__title {
    font-size: 22px;
    text-align: center;
  }

  .profile__description {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }

  .profile__add-button {
    justify-content: center;
    width: 282px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .footer__copyright {
    font-size: 14px;
    padding-left: 20px;
  }
}
